{% extends 'supplier/supplier_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<head>
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
</head>
{% block content %}
<section class="main">
    <center><h4> Orders </h4></center>
    <div class="main-div">

        <table border="1" class="table table-striped">
            <tr>
                <th>Order Id</th>
                <th>Product</th>
                <th>Product Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total Amount</th>
                <th>Order Date</th>
                <th>Pickup Date</th>
                <th>Pickup status</th>
                <th>Delivery status</th>
            </tr>
            {% for i in page_obj %}
            <tr>
                <td>{{i.order_id}}</td>
                <td><img alt="" height="50px" src="{{i.cart_item_id.product_id.image.url}}" width="50px"></td>
                <td>{{i.cart_item_id.product_id.name}}</td>
                <td>{{i.cart_item_id.qty}}</td>
                <td>₹ {{i.cart_item_id.product_id.price}}</td>
                <td>{{i.total_product_price}}</td>
                <td>{{i.order_date}}</td>
                <td>{{i.pickup_date}}</td>
                {% if i.pickup_status %}
                <td>Order Collected</td>
                {% else %}
                <td>Pickup Pending </td>
                {% endif %}
                {% if i.deliver_status %}
                <td>Delivered</td>
                {% else %}
                <td>In Transit</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>

    </div>
    <center>{% include "pagination.html" %}</center>
</section>
{% endblock content %}
